{% extends 'ECU_tables.html' %}

{% block table_content %}
<body>
  <h3>Create ECU</h3>
    <form method="POST" action="{% url 'add-ecu' %}">
        {% csrf_token %}
        <table>
            <tr>
                {% for field in ecu_form %}
                    <td>{{ field.label_tag }}</td>
                {% endfor %}
            </tr>

            <tr>
                {% for field in ecu_form %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        </table>
        <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</body>
{% endblock table_content %}