
{% extends 'base.html' %}

{% block content %}
  <body>
<!--        Write the family name of ECU!!!-->
        {% for family_name, ecus in families_ecus.items %}
        <h3>{{ family_name }}</h3>

        <table class="table table-striped table-hover">
<!--          write the table head-->
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">ECU name</th>
              <th scope="col">AL Part No.</th>
              <th scope="col">Customer No.</th>
              <th scope="col">HW No.</th>
              <th scope="col">SW No.</th>
              <th scope="col">created_at</th>
              <th scope="col">Creator</th>
              <th scope="col">Comment</th>
              <th scope="col">Modification</th>
            </tr>
          </thead>
          <tbody>
<!--          write content of table-->
            {% for every_ecu in ecus %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ every_ecu.ecu_name }}</td>
              <td>{{ every_ecu.al_part_no }}</td>
              <td>{{ every_ecu.customer_number }}</td>
              <td>{{ every_ecu.hw_number }}</td>
              <td>{{ every_ecu.sw_number }}</td>
              <td>{{ every_ecu.created_at }}</td>
              <td>{{ every_ecu.creator }}</td>
              <td>{{ every_ecu.ecu_comment }}</td>
              <td>
                    {% if request.user == every_ecu.creator %}
                        <button >EDIT ECU</button>
                    {% endif %}
              </td>
            </tr>
            {% endfor %}

          </tbody>

        </table>
            <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
<!--            view only for users -->
            <button class="btn btn-primary" onclick="location.href='{% url 'create-ecu' %}'">Create New ECU</button>
            {% endif %}
            </div>


        {% endfor %}

{% endblock %}


  </body>
